*{

    margin:0;
    padding:0;
    box-sizing: border-box;

}

*::selection{

    background: var(--gold);
    color:azure;

}

:root{

    --text-color:#252424;
    --feature-tittle:#dbc928;

    --gold:#e0c112;
    --coal:#141414;
    --platinium:#d3cfcf;
    --markBlue:#11083d;
    --productColor:#dfee5d;
    --productHover:#6fdb17;

    --buttonsColor:#2d2e2e;

}


body{

    display: flex;
    flex-flow: column;
    align-items: center;

    background-color: whitesmoke;


    background-image: url("../images/background.jpg");
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

    font-size: 2rem;

}

.mother-box {

    background-color: azure;
    width: 80%;
    height: 100%;

}


#image-logo-container{

    flex-flow: column;
    align-content: center;

}

.menu-container{

    display: flex;
    flex-flow: row;
    align-items: center;

    background-color:var(--markBlue);

    width:100%;

    height: 14%;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);

}

.optionContainer{

    display: flex;
    flex-flow:row;

    margin-left: 2rem;

    justify-content: center;
    align-content: center;

    gap: 1.5rem;
    
    height: 100%;

    background:var(--markBlue);

}


#stackedMenuAccess{

    display: none;

}


#labelStackedMenuAccess{

    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    color:var(--gold);

    display: flex;
    
}


.menuOption{

    font-family: 'Kanit', sans-serif;
    color: azure;
    
    display: flex;
    align-self: center;
    justify-content: center;
    
    font-size: 2rem;

    text-decoration:none;
    
    transition: 500ms;

    background-color: var(--markBlue);

}


.menuOption:hover{

    color:var(--gold);

}


.image-logo{

    font-family: 'Kanit',sans-serif;

    color:white;

    text-decoration: none;

    transition: 500ms;

    margin-left: 1rem;
    margin-right: 2rem;

    font-size: 3.6rem;
}


.image-logo:hover{

    color:#464242;

}


.logoSpan{

    color:var(--gold);
    
    transition:500ms;

}


.logoSpan:hover{

    color:var(--platinium);

}


.pageContentBox{

    width: 100%;
    height: 100vh;
    
    background: whitesmoke;

}


@media(max-width:1366px){

    .menuOption{

        font-size: 1.6rem;

    }

}


@media(max-width:380px){


    .optionContainer{

        display: none;

        flex-flow: row;

        height: 2rem;
        width: 100%;

        margin-left: 0%;
        margin-top: 0;

        margin-bottom: 0%;

        background: #190d58;


    }

    .menu-container{

        flex-flow: column;

        padding: 0%;

    }


    #stackedMenuAccess:checked~.optionContainer{
        
        display: flex;

    }



    .menu-container{


        height: 2.5%;

    }


    #labelStackedMenuAccess{

        font-size: 1rem;

        visibility: visible;

        color:var(--gold);
        opacity: 1;

        transform: translateY(-1.1rem) translateX(5rem);

    }

    .menuOption{

        font-size: 0.5rem;

        flex-flow: column;
        justify-content: center;
        text-align: center;

        margin-top: 0%;

        background: #190d58;

    }


    .image-logo{

        font-size: 1.7rem;

        margin-bottom: 0%;
        padding: 0%;

        margin-left: 9.5rem;

    }


    .image-logo-container{

        transform: translateY(0.4rem) translateX(-6.5rem);

    }


}