@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600&family=Cabin:ital@1&family=Fira+Sans:ital,wght@0,900;1,400&family=Kanit&family=Lato:wght@700&family=Mulish&family=PT+Sans+Narrow&family=Playpen+Sans:wght@500&family=Prompt&family=Roboto+Condensed:ital,wght@1,500&family=Rowdies&family=Sometype+Mono&family=Space+Grotesk:wght@700&display=swap');

/* *Page main colors. */
:root{

    --gold:#e0c112;
    --coal:#141414;
    --platinium:#d3cfcf;
    --markBlue:#11083d;
    --productColor:#dfee5d;
    --productHover:#6fdb17;

    --buttonsColor:#2d2e2e;

    --footerBackgroundColor:#f5ec00;
}

*::selection{

    background: var(--gold);
    color:azure;

}


body{

    display: flex;
    flex-flow: column;
    align-items: center;

    background-color: whitesmoke;

}

.motherBox{
    width: 100%;
    height: 100%;
}

#image-logo-container{

    flex-flow: column;
    align-content: center;

}

.menu-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color:var(--markBlue);
    width:100%;
    height: 17%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.optionContainer{
    display: flex;
    flex-flow:row;
    margin-left: 2rem;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    height: 100%;
    background:var(--markBlue);
}


#stackedMenuAccess{
    display: none;
}


#labelStackedMenuAccess{
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    color:var(--gold);
    display: flex;
}


.menuOption{
    font-family: 'Kanit', sans-serif;
    color: azure;
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration:none;
    transition: 500ms;
    background-color: var(--markBlue);
}

.menuOption:hover{
    color:var(--gold);
}

.image-logo{
    font-family: 'Kanit',sans-serif;
    color:white;
    text-decoration: none;
    transition: 500ms;
    font-size: 2.6rem;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 3.6rem;
}


.image-logo:hover{
    color:#464242;
}


.logoSpan{
    color:var(--gold);
    transition:500ms;
}


.logoSpan:hover{

    color:var(--platinium);

}



.pageContentContainer{

    display: flex;
    flex-flow: row;

    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position:center;

    width:100%;
    height:100vh;

    padding-bottom: 5rem;

}


#textContainer{

    margin-top: 20%;

    display: flex;
    flex-flow:column;
    justify-content: start;

    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    height: fit-content;

}


#hearphoneImageContainer{

    display: flex;
    flex-flow: row;
    align-content: start;

    width: fit-content;
    height: fit-content;

    margin-right: 2rem;
    margin-top: 4rem;

}


#hearPhoneImage{

    width: 500px;
    height: 500px;

    animation:float 2.3s linear infinite;

    align-self: start;

}


#hearphonesText{

    display: flex;

    padding-left: 2rem;

    width: 100%;

    font-size:1.3rem;

}


.buttonLink{

/**Costume*/
    text-decoration: none;
    color:var(--productColor);
    font-family:'Kanit', sans-serif;
    
/**animation*/
    transition: 1.6s; 

}


.buttonLink:hover{

    color:var(--productHover);

}


.button{

/**size values*/
    margin-right: 12%;
    font-size: 1.4rem;
    border-radius: 1rem;

/**Position*/
    align-self: end;

/**Costume*/
    background-color:var(--buttonsColor);
    box-shadow: 0.54rem 0.4rem rgba(0, 0, 0, 0.2);

    /**animation*/
    transition: 0.5s; 

}


.button:hover{

    transform: scale(1.1);

}


@keyframes float{

    0%,100%{

        transform: translateY(0rem);

    }

    50%{

        transform: translateY(2.2rem);

    }

}


#productTittle{

    padding-left: 2.5rem;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:2.2rem;

}


#spanHearphonesId{

    color:var(--platinium);

}


.endOfThePage{

    display: flex;
    flex-flow: row-reverse;

    background-color: var(--gold);

    width: 100%;
    height: 20vh;

    box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.4);

}


.footerSection{

    display: flex;

    flex-flow: column;

    height: 100%;

    margin-right: 2rem;

    gap:0.4rem;

}


#socialMediaInconsBox{

    display: flex;
    align-items: center;

    gap: 1rem;

}

.socialMediaLink{

    text-decoration: none;

    width: fit-content;
    height: fit-content;

}


.socialMediaIcon{

    width: 3rem;
    height: 3rem;

}


#socialMediaTitle{

    color:var(--coal);

    font-size: 1.5rem;

    font-family: Geneva, Tahoma, sans-serif;

    text-align: center;

}


.footerLink{

    color:azure;

    font-size: 1.5rem;

    font-family: Geneva, Tahoma, sans-serif;

    text-align: center;

    text-decoration: none;

    transition: 300ms linear;

}


.footerLink:hover{

    color:var(--buttonsColor);

}


#footerFeatures{

    display: flex;

    flex-flow: row;

    gap:1rem;

    align-items: center;

    margin-right: 13rem;

}


@media(max-width:1366px){

    .menuOption{

        font-size: 1.6rem;

    }

}


@media(max-width:500px){

    .pageContentContainer{
        justify-content: flex-end;
        flex-flow: column-reverse;
        margin: 0;
        padding: 0;
        gap: 0;
    }
    
    #productTittle{
        font-size: 1.4rem;
    }

    #hearphoneImageContainer{
        padding: 0;
        margin:0 0 0 0;
    }


    #hearphonesText{
        font-size: 0.8rem;
        padding: 0;
        margin-left: 0.3rem;
    }


    .button{
        font-size: 0.7rem;
    }


    #hearPhoneImage{
        width: 100%;
        height: 100%;
    }

    .optionContainer{
        display: none;
        flex-flow: row;
        height: 2rem;
        width: 100%;
        margin: 0;
        background: #190d58;
    }


    .menu-container{
        flex-flow: column;
        padding: 0;
        margin: 0;
    }


    #stackedMenuAccess:checked~.optionContainer{
        display: flex;
    }



    #labelStackedMenuAccess{
        font-size: 1rem;
        visibility: visible;
        color:var(--gold);
        opacity: 1;
        transform: translateY(-1.1rem) translateX(5rem);
    }

    .menuOption{
        font-size: 0.7rem;
        flex-flow: column;
        justify-content: center;
        text-align: center;
        margin:0;
        background: #190d58;
    }

    .image-logo{
        font-size: 1.8rem;
        margin-bottom: 0%;
        padding: 0%;
        margin-left: 9.5rem;
    }

    .image-logo-container{
        transform: translateY(0.4rem) translateX(-6.5rem);
    }

    #textContainer{
        margin-top: 0;
    }


    #socialMediaTitle{
        font-size: 0.65rem;
    }


    .socialMediaIcon{
        width: 1rem;
        height: 1rem;
    }


    .footerSection{
        justify-content: center;
        align-items:; center;
        margin-right: 0.2rem;
        padding: 1.8rem 0 0 0;
    }

    #footerFeatures{
      justify-content: center;
      align-items: center;
    }

    #socialMediaInconsBox{
        gap: 0.5rem;
    }

    
    .footerLink{

        color:azure;
    
        font-size: 0.7rem;
    
        font-family: Geneva, Tahoma, sans-serif;
    
        text-align: center;
    
        text-decoration: none;
    
        transition: 300ms linear;
    
    }
    
    
    #footerFeatures{
    
        display: flex;
    
        flex-flow: row;
    
        gap:0.4rem;
    
        align-items: center;
    
        margin-right: 1.5rem;
    
    }
    
    .endOfThePage{
      height: 45%;
    }
    

}


@media(max-width:380px){

    .pageContentContainer{

        justify-content: flex-end;

        flex-flow: column-reverse;

        margin: 0;

        padding: 0;

        gap:0;

    }


    #productTittle{

        font-size: 0.7rem;

    }


    #hearphoneImageContainer{

        padding: 0;
        margin:0 0 0 0;

    }


    #hearphonesText{

        font-size: 0.5rem;

        padding: 0;

        margin-left: 0.3rem;

    }


    .button{

        font-size: 0.6rem;

    }


    #hearPhoneImage{

        width: 100%;

        height: 100%;

    }


    .optionContainer{

        display: none;

        flex-flow: row;

        height: 2rem;
        width: 100%;

        margin: 0;

        background: #190d58;

    }


    .menu-container{

        flex-flow: column;

        padding: 0;

        margin: 0;

    }


    #stackedMenuAccess:checked~.optionContainer{
        
        display: flex;

    }



    #labelStackedMenuAccess{

        font-size: 1rem;

        visibility: visible;

        color:var(--gold);
        opacity: 1;

        transform: translateY(-1.1rem) translateX(5rem);

    }


    .menuOption{

        font-size: 0.5rem;

        flex-flow: column;
        justify-content: center;
        text-align: center;

        margin:0;

        background: #190d58;

    }


    .image-logo{

        font-size: 1.7rem;

        margin-bottom: 0%;
        padding: 0%;

        margin-left: 9.5rem;

    }


    .image-logo-container{

        transform: translateY(0.4rem) translateX(-6.5rem);

    }


    #textContainer{

        margin-top: 0;

    }


    #socialMediaTitle{


        font-size: 0.65rem;

    }


    .socialMediaIcon{

        width: 1rem;
        height: 1rem;

    }


    .footerSection{

        justify-content: center;

        margin-right: 0.2rem;

    }


    #socialMediaInconsBox{

        gap: 0.5rem;

    }

    

    .footerLink{

        color:azure;
    
        font-size: 0.8rem;
    
        font-family: Geneva, Tahoma, sans-serif;
    
        text-align: center;
    
        text-decoration: none;
    
        transition: 300ms linear;
    
    }
    
    
    #footerFeatures{
    
        display: flex;
    
        flex-flow: column;
    
        gap:0.4rem;
    
        align-items: center;
    
        margin-right: 2rem;
    
    }

}